openapi: 3.1.0
info:
  contact:
    email: support@unifapi.com
    name: UnifAPI
    url: https://unifapi.com
  description: "Unified, AI-friendly API for public-data providers. Single source\
    \ of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing\
    \ site, and downstream SDK generators."
  license:
    name: Proprietary
    url: https://unifapi.com/legal/terms-of-service
  title: UnifAPI
  version: 0.0.1
externalDocs:
  description: UnifAPI developer documentation
  url: https://docs.unifapi.com
servers:
- description: Production
  url: https://api.unifapi.com
security:
- bearerAuth: []
tags:
- description: "Headless browser rendering. Render any URL with JavaScript executed\
    \ and get it back as Markdown, fully rendered HTML, a screenshot, or the page's\
    \ link graph."
  name: browser
- description: "Live events search. Responses include individual events with title,\
    \ dates, venue location, ticket links, and a description."
  name: events
- description: geo endpoints
  name: geo
- description: "Public-data Hacker News endpoints. Item, user, story-list, max-item,\
    \ and update resources follow the official Hacker News API shape."
  name: hacker-news
- description: "Live hotel search and detail. Responses include ranked hotel listings\
    \ and full hotel profiles with class rating, guest reviews, images, and nightly\
    \ prices."
  name: hotels
- description: "Public-data Instagram endpoints. Path keys use URL-visible slugs (`username`\
    \ for users, `shortcode` for posts). `media_id` and `user_id` are surfaced on\
    \ responses so callers can cache the mapping."
  name: instagram
- description: "Public-data LinkedIn endpoints. Path keys use LinkedIn URL slugs (`public_identifier`\
    \ for users, `universal_name` for companies)."
  name: linkedin
- description: "Live Local Finder search — the expanded local-pack listing. Responses\
    \ include ranked local places with address, rating, phone, and booking links."
  name: local
- description: "Live local business search. Responses include ranked place listings\
    \ with address, rating, category, phone, coordinates, and place id."
  name: maps
- description: "Live news search. Responses include ranked news articles and top-stories\
    \ blocks with publisher domain, snippet, image, and publish time."
  name: news
- description: "Public-data Reddit endpoints (APP surface). Path keys use `username`\
    \ for users, `subreddit_name` for subreddits, and `post_id` (the `t3_*` fullname)\
    \ for posts."
  name: reddit
- description: "Live SEO optimization evidence endpoints. SERP and AI SERP responses\
    \ include ranked result elements, target visibility, competitor domains, rich\
    \ search features, People Also Ask context, AI answer citations, query metadata,\
    \ and source task status."
  name: seo
- description: Public-data Threads endpoints (Web surface). Path keys use `username`
    for users and `post_id` for posts.
  name: threads
- description: Public-data TikTok endpoints. All identity-shaped responses use the
    canonical Video / User / Comment / Music / Hashtag / LiveRoom shapes.
  name: tiktok
- description: "Public-data Twitter / X endpoints. Public paths follow X-style `/x/...`\
    \ semantics; use `username` for handle lookups, numeric X user `id` for user sub-resources,\
    \ and tweet `id` for post lookups."
  name: x
- description: Public-data YouTube endpoints (Web surface). Path keys use `channel_id`
    for channels and `video_id` for videos.
  name: youtube
paths:
  /browser/html:
    post:
      description: "Render a URL in a headless browser and return the fully rendered\
        \ HTML after JavaScript execution — use it to read meta tags, structured data,\
        \ and content that only appears after client-side rendering."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserHtmlRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_browser_html_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Render a page to HTML
      tags:
      - browser
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /browser/links:
    post:
      description: "Render a URL in a headless browser and return every link on the\
        \ page as absolute URLs, including links injected by JavaScript. Optionally\
        \ restrict to visible links or same-domain links for internal-link and broken-link\
        \ audits."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserLinksRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_browser_links_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Extract links from a page
      tags:
      - browser
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /browser/markdown:
    post:
      description: "Render a URL in a headless browser (running JavaScript) and return\
        \ the page as clean Markdown — ideal for content analysis, summarization,\
        \ and feeding pages to language models."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserMarkdownRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_browser_markdown_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Render a page to Markdown
      tags:
      - browser
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /browser/screenshot:
    post:
      description: "Render a URL in a headless browser and capture a screenshot, returned\
        \ as a base64-encoded image. Control the viewport, capture the full scrollable\
        \ page, target a CSS selector, and choose png, jpeg, or webp output."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserScreenshotRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_browser_screenshot_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Capture a page screenshot
      tags:
      - browser
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /events/search:
    post:
      description: "Run one live Events search and receive individual events for a\
        \ query, including title, dates, venue location, ticket links, and a description."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_events_search_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Search Events
      tags:
      - events
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /geo/keywords/search-volume:
    post:
      description: Look up generative-AI search volume and monthly trend for up to
        1000 keywords in a location and language.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoKeywordSearchVolumeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_geo_keywords_search_volume_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get AI search volume for keywords
      tags:
      - geo
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 50
  /geo/mentions/aggregated-metrics:
    post:
      description: "Aggregate LLM mentions of a domain or keyword across platform,\
        \ location, language, source/search-result domains, and brand entities."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoMentionsAggregatedMetricsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_geo_mentions_aggregated_metrics_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Aggregate LLM mention metrics by dimension
      tags:
      - geo
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 500
  /geo/mentions/cross-aggregated-metrics:
    post:
      description: Aggregate and compare LLM mention metrics across several labeled
        target groups for side-by-side share-of-voice analysis.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoMentionsCrossAggregatedMetricsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_geo_mentions_cross_aggregated_metrics_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Compare LLM mentions across labeled groups
      tags:
      - geo
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 500
  /geo/mentions/search:
    post:
      description: "Find where a domain or keyword is mentioned across ChatGPT and\
        \ AI search answers, with the question, answer, cited sources, and AI search\
        \ volume."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoMentionsSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_geo_mentions_search_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Search LLM mentions of a domain or keyword
      tags:
      - geo
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 500
  /geo/mentions/top-domains:
    post:
      description: "Rank the domains most frequently cited as sources in LLM answers\
        \ for a target domain or keyword, with per-dimension breakdowns."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoMentionsTopDomainsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_geo_mentions_top_domains_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List domains most cited in LLM answers
      tags:
      - geo
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 500
  /geo/mentions/top-pages:
    post:
      description: "Rank the pages most frequently cited as sources in LLM answers\
        \ for a target domain or keyword, with per-dimension breakdowns."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoMentionsTopPagesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_geo_mentions_top_pages_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List pages most cited in LLM answers
      tags:
      - geo
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 500
  /geo/serp:
    post:
      description: "Run one live AI Mode search for generative answer evidence, cited\
        \ sources, and target-domain visibility."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoSerpRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_geo_serp_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Search AI Mode generative results
      tags:
      - geo
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /hacker-news/items/{id}:
    get:
      description: "Fetch a single Hacker News item. Stories, comments, jobs, polls,\
        \ and poll options share the same item shape."
      parameters:
      - description: Hacker News item id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Hacker News item id.
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hacker_news_items__id__get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get Hacker News item by ID
      tags:
      - hacker-news
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 0
        minimum_credits: 0
  /hacker-news/max-item:
    get:
      description: Returns the current largest Hacker News item id.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hacker_news_max_item_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get largest Hacker News item ID
      tags:
      - hacker-news
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 0
        minimum_credits: 0
  /hacker-news/stories/{feed}/items:
    get:
      description: "Fetch item details from a named Hacker News story feed in one\
        \ operation. Use this when an agent needs readable story titles, URLs, scores,\
        \ authors, or comment counts."
      parameters:
      - description: "Story feed: top, new, best, ask, show, or jobs."
        explode: false
        in: path
        name: feed
        required: true
        schema:
          $ref: '#/components/schemas/HackerNewsStoryFeed'
        style: simple
      - description: Zero-based offset cursor returned as `next_cursor`.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Zero-based offset cursor returned as `next_cursor`.
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hacker_news_stories__feed__items_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List Hacker News story items
      tags:
      - hacker-news
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 0
        minimum_credits: 0
  /hacker-news/stories/{feed}:
    get:
      description: "List Hacker News story ids from a named feed. Use `/hacker-news/items/{id}`\
        \ to fetch item details."
      parameters:
      - description: "Story feed: top, new, best, ask, show, or jobs."
        explode: false
        in: path
        name: feed
        required: true
        schema:
          $ref: '#/components/schemas/HackerNewsStoryFeed'
        style: simple
      - description: Zero-based offset cursor returned as `next_cursor`.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Zero-based offset cursor returned as `next_cursor`.
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hacker_news_stories__feed__get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List Hacker News story IDs
      tags:
      - hacker-news
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 0
        minimum_credits: 0
  /hacker-news/updates:
    get:
      description: Returns recently changed Hacker News item ids and user profile
        ids.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hacker_news_updates_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get changed Hacker News items and profiles
      tags:
      - hacker-news
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 0
        minimum_credits: 0
  /hacker-news/users/{id}:
    get:
      description: Fetch a public Hacker News user profile by case-sensitive username.
      parameters:
      - description: Case-sensitive Hacker News username.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Case-sensitive Hacker News username.
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hacker_news_users__id__get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get Hacker News user by ID
      tags:
      - hacker-news
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 0
        minimum_credits: 0
  /hotels/info:
    post:
      description: "Run one live Hotels detail lookup for a hotel id from /hotels/search\
        \ and receive the full profile, including class rating, address, phone, description,\
        \ guest reviews, images, and prices."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hotels_info_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get Hotels detail
      tags:
      - hotels
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /hotels/search:
    post:
      description: "Run one live Hotels search and receive ranked hotel listings for\
        \ a location and stay dates, including hotel id, class rating, guest reviews,\
        \ and nightly prices. Pass a hotel id to /hotels/info for full details."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelSearchRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_hotels_search_post_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Search Hotels
      tags:
      - hotels
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 10
  /instagram/explore:
    get:
      parameters:
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_explore_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Browse Instagram's Explore feed
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/locations/{id}/nearby:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_locations__id__nearby_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List Instagram locations geographically near a given location
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/locations/{id}/posts:
    get:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which tab to fetch — `ranked` (top) or `recent` (latest).
        explode: true
        in: query
        name: tab
        required: false
        schema:
          description: Which tab to fetch — `ranked` (top) or `recent` (latest).
          enum:
          - ranked
          - recent
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_explore_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List posts tagged with an Instagram location
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/locations/{id}:
    get:
      parameters:
      - description: Numeric Instagram location id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: Numeric Instagram location id.
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_locations__id__get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get an Instagram location by id
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/posts/{shortcode}/comments/{commentId}/replies:
    get:
      parameters:
      - explode: false
        in: path
        name: shortcode
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: false
        in: path
        name: commentId
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_posts__shortcode__comments__commentId__replies_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List replies to an Instagram comment
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/posts/{shortcode}/comments:
    get:
      parameters:
      - explode: false
        in: path
        name: shortcode
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - popular
          - newest
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_posts__shortcode__comments__commentId__replies_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List comments on an Instagram post
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/posts/{shortcode}:
    get:
      description: "`shortcode` is the slug from the post URL, e.g. `DUajw4YkorV`\
        \ in `instagram.com/p/DUajw4YkorV/`."
      parameters:
      - explode: false
        in: path
        name: shortcode
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_posts__shortcode__get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get an Instagram post (photo / video / carousel / reel) by shortcode
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/reels/recommended:
    get:
      parameters:
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_explore_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Browse Instagram's recommended Reels feed
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/resolve/media-id:
    get:
      parameters:
      - explode: true
        in: query
        name: shortcode
        required: true
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_resolve_media_id_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Convert an Instagram post shortcode into its numeric media_id
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/resolve/shortcode-from-media:
    get:
      parameters:
      - explode: true
        in: query
        name: media_id
        required: true
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_resolve_media_id_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Convert an Instagram numeric media_id into its shortcode
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/resolve/shortcode:
    get:
      parameters:
      - explode: true
        in: query
        name: url
        required: true
        schema:
          format: uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_resolve_shortcode_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Extract a post shortcode from an Instagram URL
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/resolve/user-id:
    get:
      parameters:
      - explode: true
        in: query
        name: username
        required: true
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_resolve_user_id_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Convert an Instagram username into its numeric user_id (pk)
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/search:
    get:
      parameters:
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Search keyword.
        explode: true
        in: query
        name: q
        required: true
        schema:
          description: Search keyword.
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_explore_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Cross-type Instagram search (posts/reels)
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}/followers:
    get:
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_users__username__followers_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List followers of an Instagram user
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}/following:
    get:
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_users__username__followers_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List accounts an Instagram user follows
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}/former-usernames:
    get:
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_users__username__former_usernames_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List former usernames for an Instagram user
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}/highlights:
    get:
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_users__username__highlights_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List Instagram highlight reels for a user (metadata only)
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}/posts:
    get:
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_explore_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List feed posts authored by an Instagram user
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}/reels:
    get:
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_explore_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: List reels authored by an Instagram user
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}:
    get:
      parameters:
      - description: "Instagram URL slug, e.g. `instagram`"
        explode: false
        in: path
        name: username
        required: true
        schema:
          description: "Instagram URL slug, e.g. `instagram`"
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_instagram_users__username__get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation or invalid-id error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Missing, invalid, disabled, revoked, or expired UnifAPI API\
            \ key"
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Insufficient workspace credits
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Resource not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Rate limited
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Source unavailable
      security:
      - bearerAuth: []
      summary: Get an Instagram user profile by username
      tags:
      - instagram
      x-unifapi-billing:
        mode: record_metered
        credits_per_record: 1
        minimum_credits: 1
  /instagram/users/{username}/stories:
    get:
      description: Returns the user's currently-live story tray (empty when the user
        has no active stories).
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          minLength: 1
          type: string
[...]
